@import "tailwindcss";

:root {
    --pastel-pink: #ffdce5;
    --pastel-blue: #dcf2ff;
    --pastel-green: #dcfce7;
    --pastel-purple: #e9dcff;
    --pastel-yellow: #fef9c3;
    --pastel-search: #3683ee;
    --border-color: #1a1a1a;
}

.grid-bg {
    background-image: linear-gradient(var(--border-color) 1px, transparent 1px),
        linear-gradient(90deg, var(--border-color) 1px, transparent 1px);
    background-size: 40px 40px;
    background-color: #f0f0f0;
    opacity: 0.3;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
}

.retro-window {
    border: 2px solid var(--border-color);
    box-shadow: 4px 4px 0px 0px var(--border-color);
}

.retro-tile:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px 0px var(--border-color);
}